{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reunioes Marcadas</title>
</head>
<body>
    <div style='width: 900px; margin:20px auto;'>
        <a href="{% url 'register' %}">Marcar Nova Reunião</a>
        <br><br>
        {% for reuniao in reuioes %}
            <div>
                <h3>Titulo da reunião: {{ reuniao.titulo }} </h3>
                <p>Descrição da reunião: {{ reuniao.descricao }} </p>
                <p>Local da reunião: {{ reuniao.local }} </p>
                <p>Nomes dos Participantes: {{ reuniao.nome_do_participante }} </p>
                <p>Dia da Reunião: {{ reuniao.dia }} </p>
                <p>Horário da Reunião: {{ reuniao.horario }} </p>
                <p><a class="btn btn-danger" href="{% url 'delete' reuniao.id %}">DELETAR</a></p>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>